/* @import "tailwindcss";

.titulo-personalizado {
  font-size: 1.875rem; 
  color: #f30f0f; 
  font-weight: bold; 
}
.boton-personalizado {
  padding: 8px 16px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}
  */